.formSection_container{
    padding-top: 85px;
}


.slogan{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 75px;
}

.deliver_slogan{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 200;
}


@media only screen and (max-width: 600px) {
    .slogan{
        font-weight: 900;
        font-size: 50px;
    }

    .deliver_slogan{
        font-size: 20px;
        font-weight: 200;
    }
}


@media (min-width: 426px) and (max-width: 768px) {
    
}